.ql-editor {
  font-size: 20px; /* Change default font size here */
}

.react-player > video{
  position: absolute;
  object-fit: fill;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  transform-origin: center center; /* Ensure it rotates around its center */
}


html,body{
  overflow-x: hidden;
}